doctype html
html(lang="en")
  head
    title Metrics
    include head.pug
    link(rel='stylesheet', href='/css/bootstrap-datetimepicker.min.css')

    body
      script(src="https://d3js.org/d3.v3.min.js")
      script(src="js/bootstrap-datetimepicker.min.js")

      include header.pug

      input(type="hidden", id="metricData", value=metricData )

      button#metric-add-form-show.btn.btn-info.btn-block(type="button") Add Metric +
      button#metric-add-form-hide.btn.btn-info.btn-block(type="button" style="display:none") Add Metric -

      form#metric-add-form.form-inline(method="post", action="metric", style="display : none")
        .form-group
          .dropdown
            button.btn.btn-default.dropdown-toggle(type="button" id="dropdownGroup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Group
              span.caret
            ul.dropdown-menu(aria-labelledby="dropdownGroup")
        .form-group
          input#group.form-control(type="text" name='group', placeholder="Group")
          input#datetimepicker.form-control(type="text" name='date' value="2012-05-15 21:05 UTC")
          input.form-control(type="number", min="1", name='value' placeholder="Value")
          button.btn.btn-default(type="submit") Add metric

      button#metric-update-form-show.btn.btn-info.btn-block(type="button") Changed Metric +
      button#metric-update-form-hide.btn.btn-info.btn-block(type="button" style="display:none") Changed Metric -

      form#metric-update-form.form-inline(method="get", action="modified", style="display : none")
        .form-group
          .dropdown
            button.btn.btn-default.dropdown-toggle(type="button" id="dropdownGroup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Group
              span.caret
            ul.dropdown-menu(aria-labelledby="dropdownGroup")
        .form-group
          input#updateGroup(type="hidden", name="group")
          button#submitUpdateGroup.btn.btn-default(type="submit") select a group

      if metric_error
        .form-group
         .alert.alert-warning
           p #{metric_error}

      script(src="js/d3chart.js").data="#{metricData}"
      script(src="js/main.js")
