link(rel='stylesheet', href='/css/bootstrap.min.css')
script(src='/js/jquery.min.js')
script(src='/js/bootstrap.min.js')
link(rel='stylesheet', href='/css/style.css')
style
  :stylus
    body
      background-color : #fefefe
