doctype
html(lang="en")
  head
    title AST
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')

  body
    include header.pug
    .container
      .col-md-6.col-md-offset-3
        p hello #{name} !
        button(type="button" class="btn btn-success" id="show-metrics") Bring the metrics
        #metrics

    script
      :coffee-script
        $('#show-metrics').click (e) ->
        e.preventDefault()
        $.getJSON "/metrics.json", {}, (data) ->
          content = ""
          for d in data
            content += "timestamp: #{d.timestamp}, value: #{d.value}"
          $('#metrics').append content
