doctype
html(lang="en")
  head
    title Login
    include head.pug

  style
    :stylus
      .highlight
        margin-top: 50vh
        transform: translateY(-50%)
        padding-top: 40px
        padding-bottom: 40px

  body
    include header.pug
    figure.highlight.col-sm-6.col-sm-offset-3
      form(method="post" action="/signup")
        .form-group
          label Name
          input(type="text" class="form-control" name="name" placeholder="Name")
        .form-group
          label Username
          input(type="email" class="form-control" name="username" placeholder="Username")
        .form-group
          label Email
          input(type="email" class="form-control" name="email" placeholder="Email")
        .form-group
          label Password
          input(type="password" class="form-control" name="password" placeholder="Password")
        if error
          .form-group
            .alert.alert-warning
              p #{error}
        button(type="submit" class="btn btn-default") Signup
